
#app{
    display: flex;
    justify-content: center;
}

.traffic-light{
    width: 200px;
    height: 580px;
    background-color: black;
    margin-top: 50px;
    border-radius: 30px;
    position: relative;
}

.redLight{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: red;
    position: absolute;
    top: 5%;
    left: 13%;
    color: white;
}

.redLight.Clicked{
    background: yellow;
    box-shadow: 0 0 60px yellow, 0 0 80px yellow, 0 0 150px yellow;
}


.greenLight{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: green;
    position: absolute;
    top: 35%;
    left: 13%;
}

.yellowLight{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: yellow;
    position: absolute;
    top: 65%;
    left: 13%;
}



/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
